################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/azurefundamentals/.vs/AzureFundamentals/FileContentIndex
/.vs
/azurefundamentals/.vs